certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
evdev==1.9.3
gitdb==4.0.12
GitPython==3.1.52
idna==3.18
numpy==2.5.1
pycparser==3.0
pynput==1.8.2
python-xlib==0.33
requests==2.34.2
scipy==1.18.0
six==1.17.0
smmap==5.0.3
sounddevice==0.5.5
urllib3==2.7.0
websockets==16.1.1
